<link rel="stylesheet" href="/css/home.css"/>
<p>this is home page</p>

<div id="home-page">
    <div id="home-page-left">
      <% if(locals.user) { %>
         <form id="new-post-form" action="/post/create" method="POST">
           <textarea  placeholder="type here ........" cols="80" rows="10" name="content" required></textarea>
           <input type="submit" value="Post"/>          
         </form>
      <% } %>
      <div id="post-list-container">
        <ul>
          <% for(post of post_List) { %>
            <%- include('_post')%>
          <% } %>
        </ul>
      </div>
    </div>
    <div id="home-page-right">
        <% if(locals.user) { %>
            <% for(let users of users_list){ %>
                <p><%= users.name %></p>
                <p><%= users.email %></p>
                <p><a href="/users/profile/<%= users.id %>">Profile<a></p>
            <% } %>
        <% } %>
    </div>
</div>
<script src="/js/home_posts.js"></script>




